<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Swetabh Suman">
    <link rel="shortcut icon" href="#">

    <title>log in</title>
     <link rel="stylesheet" href="../public/forget.css">
      <script src="index.js" defer></script>
</head>

<body>
    <section>
        <nav>
            <p><a href="LMS.html">HOME</a></p>
            <p><a href="signup.html">SIGN UP</a></p>
            <p><a href="login.html">LOG IN</a></p>
            <p>ABOUT</p>
        </nav>
    </section>
    <div class="container">

        <form class="form-signin">
            <h2 class="form-signin-heading" align:center>Verificationn code has been sent to your email!</h2>
            <input type="text" class="form-control" placeholder="Enter verification code" required autofocus><br>
            <input type="password" class="form-control" placeholder=" New Password" required><br>
            <input type="password" class="form-controll" placeholder="Reenter Password" required><br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Change password</button>
        </form>

    </div>

</body>

</html>

</html>