<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=" viewport " content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet"> -->
    <title>Document</title>
    <link rel="stylesheet" href="../public/lms.css">
    <script src="index.js" defer></script>
</head>

<body>
    <section>
        <nav>
            <p><a href="LMS.html">HOME</a></p>
            <p><a href="signup.html">SIGN UP</a></p>
            <p><a href="login.html">LOG IN</a></p>
            <p>ABOUT</p>
        </nav>
    </section>
    <div class="dropdown-inner">
        <h2 class="head">Categories</h2>
        <hr id="hr">
        <ul class="list">
            <li><a href="https://www.obooko.com/category/free-action-adventure-books">Action and adventure</li></a>
            <li><a href="https://www.obooko.com/category/crime-thriller-mystery-books">Thriller and Mystery</li></a>
            <li><a href="https://www.obooko.com/category/free-horror-supernatural-books">Horror book</li></a>
            <li><a href="https://www.obooko.com/category/free-books-for-teens">Teen & young adult</li></a>
            <li><a href="https://www.obooko.com/category/free-funny-humour-books">Humour & Comedy</li></a>
            <li><a href="https://www.obooko.com/category/free-science-fiction-books">Science fiction</li></a>
            <li><a href="https://www.obooko.com/category/free-general-and-literary-fiction-books">General & litetary
            </li></a>
            <li><a href="https://www.obooko.com/category/free-short-story-collections">Short story</li></a>
            <li><a href="https://www.obooko.com/category/free-short-stories-by-young-writers">Young writers</li></a>
        </ul>
    </div>
</body>

</html>