<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Swetabh Suman">
    <link rel="shortcut icon" href="#">
    <title>sign up</title>
    <link rel="stylesheet" href="../public/signup.css">
    <script src="index.js" defer></script>
</head>

<body>
    <section>
        <nav>
            <p><a href="LMS.html">HOME</a></p>
            <p><a href="signup.html">SIGN UP</a></p>
            <p><a href="login.html">LOG IN</a></p>
            <p>ABOUT</p>
        </nav>
    </section>
    <div class="container">

        <form class="form-signin">
            <h1 class="form-signin-heading">Please sign in</h1>
                <input type="text" class="form-control" placeholder="Email address" required autofocus>
                <input type="password" class="form-control" placeholder="Password" required><br>
                <label class="checkbox"><input type="checkbox" value="remember-me"> Remember me</label><br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>

    </div>

</body>

</html>

</html>